.weather-wrapper
  .weather-card
  .weather-body
  .WeatherCardWrapper
  .shimmerweatherDetailsCard {
  background-color: rgb(223 223 223);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  min-width: 200px;
  height: 300px;
}
